.primary-button {
  background-color: var(--primary-color);
  color: white;
  padding: 0 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.primary-button:hover {
  background-color: var(--primary-color-hover);
}

.secondary-button {
  background-color: var(--secondary-color);
  color: white;
  padding: 0 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.secondary-button:hover {
  background-color: var(--secondary-color-hover);
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.primary-button.results-button {
  background-color: #47a060;
}

@media only screen and (min-width: 768px) {
  .primary-button.-xl,
  .secondary-button.-xl {
    font-size: 18px;
    height: 50px;
    padding: 0 30px;
  }
}
