:root {
  --bg-color: #8bc6ec;
  --border-color: #717171;
  --text-color: #000000;
  --text-color-secondary: #4a4a4a;
  --primary-color: #6068de;
  --primary-color-hover: #2d386b;
  --primary-color-active: #4557a7;
  --secondary-color: #ea1e63;
  --secondary-color-hover: #971440;
  --secondary-color-active: #43091c;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: auto;
  gap: 20px;
  flex-grow: 1;
  order: 2;
  background-image: url('../assets/puzzle-bg.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}

.main-container.-game {
  padding: 0 15px;
}

.entry-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: #ffffff;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px;
  margin: 0 15px;
  width: 400px;
  text-align: center;
}
.container h2 {
  margin-bottom: 30px;
  color: var(--text-color);
}
.form-group {
  margin-bottom: 20px;
  text-align: left;
}
.form-container .label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-color-secondary);
}
.form-container .input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  margin-top: 5px;
}
.form-container .form-group .input.error {
  border-color: red;
}
.form-container .input:focus {
  border-color: var(--primary-color);
}
.input-error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Start page */

.page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page-wrapper .main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.page-wrapper .header {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
}

.page-wrapper .main-heading {
  text-align: center;
  margin: 0;
  font-family: 'Changa One', sans-serif;
  font-size: 46px;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

.game-description {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.game-description p {
  text-align: center;
  margin: 0;
  font-size: 17px;
  color: var(--primary-color);
  font-weight: 500;
}

.game-description .list {
  list-style-type: none;
  padding: 0;
}

.game-description .item {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 20px;
  margin: 0 15px;
  border-radius: 5px;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.2);
}

.greeting-message {
  margin: 0;
  font-size: 24px;
  color: var(--text-color-secondary);
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.greeting-container .actions-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.show {
  opacity: 1;
  animation: enlarge 0.7s ease-in-out;
}

@keyframes enlarge {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Game page */

.progress-message {
  font-size: 18px;
  color: var(--text-color-secondary);
}

.main-header {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  order: 1;
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.2);
  order: 2;
}
.source-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
  margin-top: 20px;
  order: 3;
  gap: 5px;
}

.word-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  height: 40px;
  margin: 0;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: #f2f3ff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.word-card:not(:empty) {
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.word-card:empty {
  font-size: 0;
  transition: all 0.3s ease-in-out;
}

.word-card:hover {
  background-color: #d5d8ff;
}

.word-card.empty {
  min-width: 10px;
}

.word-card.correct::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: rgb(115, 181, 115);
}

.word-card.incorrect::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: rgb(224, 140, 140);
}

.source-container .word-card {
  min-width: 50px;
}

.result-field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px dashed #ccc;
  min-height: 400px;
  min-width: 500px;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  order: 2;
  padding: 5px;
  gap: 5px;
}

.row-container {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: flex-start;
}

.row-container .word-card {
  flex-grow: 1;
}

.actions-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  display: flex;
  gap: 10px;
  order: 3;
  margin-bottom: 30px;
  justify-content: center;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.2);
}

.hint-actions-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.hints-content-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.hints-content-block {
  order: 2;
  margin-top: 20px;
}

.hint-actions-container .translation-icon,
.hint-actions-container .audio-icon {
  display: block;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  font-size: 16px;
  border-radius: 5px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.hint-actions-container .translation-icon:not(.disabled),
.hint-actions-container .audio-icon:not(.disabled) {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.hint-actions-container .translation-icon.disabled,
.hint-actions-container .audio-icon.disabled {
  border-color: var(--border-color);
  background-color: #ccc;
}

.game-container .translation-hint-text,
.game-container .audio-hint-button {
  order: 2;
  color: var(--primary-color);
  padding: 0;
  margin: 0;
  display: none;
  min-height: 35px;
  align-items: center;
}

.game-container .translation-hint-text::before {
  content: 'Hint: ';
  padding-right: 5px;
  color: var(--text-color);
}

.game-container .audio-hint-button {
  cursor: pointer;
  border: 0;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xNSAyM2wtOS4zMDktNmgtNS42OTF2LTEwaDUuNjkxbDkuMzA5LTZ2MjJ6bS05LTE1LjAwOXY4LjAxOGw4IDUuMTU3di0xOC4zMzJsLTggNS4xNTd6bTE0LjIyOC00LjIxOWMyLjMyNyAxLjk4OSAzLjc3MiA0Ljk0MiAzLjc3MiA4LjIyOSAwIDMuMjg4LTEuNDQ1IDYuMjQxLTMuNzcgOC4yMjlsLS43MDgtLjcwOGMyLjEzNi0xLjc5MSAzLjQ3OC00LjUwMSAzLjQ3OC03LjUyMnMtMS4zNDItNS43MzEtMy40NzgtNy41MjJsLjcwNi0uNzA2em0tMi45MjkgMi45MjljMS41MjEgMS4yNTcgMi40NzYgMy4xNjcgMi40NzYgNS4yOTkgMCAyLjEzMi0uOTU1IDQuMDQyLTIuNDc2IDUuMjk5bC0uNzA2LS43MDZjMS4zMzEtMS4wNjMgMi4xODItMi43MjkgMi4xODItNC41OTEgMC0xLjg2My0uODUxLTMuNTI5LTIuMTg0LTQuNTkzbC43MDgtLjcwOHptLTEyLjI5OSAxLjI5OWgtNHY4aDR2LTh6Ii8+PC9zdmc+');
}

.game-container .audio-hint-button.-active {
  animation: pulse 1s infinite;
}

.game-container .translation-hint-text.hidden .game-container .audio-hint-button.hidden {
  display: none;
}

.game-container .translation-hint-text:not(.hidden),
.game-container .audio-hint-button:not(.hidden) {
  display: flex;
}

/* Game menu */
.game-menu {
  order: 1;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding-top: 40px;
}

.game-menu-form {
  display: flex;
  align-items: start;
  gap: 10px;
}

.game-menu-form > .item {
  width: 100%;
}

.game-menu-label {
  font-size: 16px;
  display: block;
  color: var(--text-color);
  margin-bottom: 8px;
  background: #fff;
  width: max-content;
  padding: 1px 5px;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.game-menu-select {
  width: 100%;
  padding: 4px 6px;
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.2);
}

.game-menu-select:last-of-type {
  margin-bottom: 0;
}

.validation-message {
  font-size: 12px;
  margin: 5px 0 0;
  color: red;
}

.result-container {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-container .continue-game-button {
  margin-top: 20px;
}

.unknown-sentence,
.known-sentence {
  padding: 0 0 0 10px;
  margin: 8px 0 0;
}

.heading-secondary {
  margin: 0 0 10px;
  padding: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .form-container {
    padding: 20px;
  }
}
